<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DockerfileRelativePath>..\..\Dockerfile</DockerfileRelativePath>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/644659eb-472c-4608-aa85-c3d661ebd213/resourcegroups/ge-remote-operation/providers/Microsoft.ContainerRegistry/registries/IAcademyAPI</ResourceId>
    <ResourceName>IAcademyAPI</ResourceName>
    <ResourceGroup>ge-remote-operation</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://iacademyapi.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>834002c2-098b-4bec-bf1f-cf6d41c38b52</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>